# Ignore all files and folders by default
*

# But don't ignore directories
!*/

Sem1

# Ignore specific directories
Sem3/Distributed_Systems/Assignments/Assignment1/*
Sem2/Programming_Methodology/Assignments/*

# Ignore all .gitignore files
.gitignore

# But don't ignore the root .gitignore file
!/.gitignore

# Include all Zsmf.md files under any Notes folder
!**/Notes/Zsmf.md
